/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.img-full {
	width: 100%;
}

.computers{
	text-align: center;
}

.computers img{
	width: 70%;
}

.computers a{
	width: 50%;
	text-align: center;
	margin:auto;
}

.computers .col-md-4{
	margin-bottom: 20px;
}

.img-full {
	cursor: pointer;
}