<div class="row computers"> 
  <div ng-repeat="computer in computers">
	<div class="col-md-4">
		<h3>{{computer.name}}</h3>
		<img ng-src="img/{{computer.images[0].name}}" />
		<h4>{{computer.price | currency}}</h4>
		<a class="btn btn-primary btn-block" href="#!/computer/{{computer.id}}">Details</a>
	</div>
  </div>
</div>