<div>
	<a href="#!/computers">Go Back</a>
	<br/>
	<div class="col-md-4">
		<img class="img-full" ng-src="img/{{mainImage}}" />
		<div class="row">
			<div ng-repeat="image in computer.images | limitTo:4">
				<div class="col-md-3">
					<img class="img-full" ng-src="img/{{image.name}}"  ng-click="setImage(image)"/>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<h3>{{computer.name}}</h3>
		<p>{{computer.description}}</p>
		<p>{{computer.type}}</p>
		<h4>{{computer.price | currency}}</h4>
		<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
			<!-- Specifies Buy Now Button -->
			<input type="hidden" name="cmd" value="_xclick" />
			<!-- Paypal Email -->
			<input type="hidden" name="business" value="techguyseller@sandbox.com" />
			<!-- Item Name -->
			<input type="hidden" name="item_name" value="{{computer.name}}" />
			<!-- Item ID -->
			<input type="hidden" name="item_number" value="{{computer.name}}" />
			<!-- Currency Code -->
			<input type="hidden" name="currency_code" value="USD" />
			<!-- Price -->
			<input type="hidden" name="amount" value="{{computer.price}}" />
			<!-- Specify Shipping -->
			<input type="hidden" name="no_shipping" value="{{1}}" />
			<!-- Return method -->
			<input type="hidden" name="rm" value="2" />
			<!-- Return URL -->
			<input type="hidden" name="return" value="http://localhost:8000" />
			<!-- Cancel Return URL -->
			<input type="hidden" name="cancel_return" value="http://localhost:8000" />

			<!-- Buttin -->
			<input type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_buynow_107x26.png" name="submit" alt="Buy Now" />
		</form>
	</div>
</div>